
html, body {
    margin: 0px;
    background-color: #2f4f30;
    color: white;
}
.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.carta{
    position: relative;
    height: 80%;
    left: 50px;
    margin-left: -75px;
}

#computadora-cartas, #jugador-cartas{
    display: flex;
    height: 30vh;
    justify-content: center;
    text-align: center;
}

.margen-derecha{
    margin-right: 2%;
}

.bordeCaja{
    border: white 2px solid;
    width: 40vw;
    overflow: auto;
}

@media (max-width:1280px){
    .bordeCaja{
        border: white 2px solid !important;
        width: 90vw;
      
    }  
}